.header {
  position: sticky;
}

.sidebar {
  position: sticky;
  height: calc(100vh - 100px);
  top: 100px;
}

.form-select {
  width: 200px;
}

footer {
  background-color: var(--bg-secondary);
  height: 200px;
  margin-top: 10%;
}
