#grid {
  width: 100%;
  display: grid;
  gap: 25px;
  grid-template-columns: Repeat(auto-fit, 300px);
  justify-content: center;
}

.book-card {
  width: 100%;
  height: auto;
  background-color: #fcfcfc;
}

.img-wrapper {
  width: 100%;
  height: 300px;
  padding: 20px;
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
