:root {
  --bg-main: #ffffff;
  --bg-secondary: #d3d3d3;
  --border: #eaeaea;
  --primary: #fe5e5e;
  --secondary: #4dcd99;

  --bs-primary: var(--primary);
  --bs-primary-rgb: 90, 62, 54;
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: "Playfair Display", serif;
}

header {
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--bg-secondary);
}
