:root {
  --bg-main: #ffffff;
  --bg-secondary: #d3d3d3;
  --border: #eaeaea;
  --primary: #fe5e5e;
  --secondary: #4dcd99;
}

.main-container {
  background-color: var();
}

header {
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--bg-secondary);
}
